<footer class="site-footer">

  <div class="wrapper">
    <div class="footer-col-wrapper">

      <div class="footer-col footer-col-1">
        <ul class="social-media-list">
          {% if site.author %}
          <li>
              {{ site.author | escape }}
          </li>
          {% endif %}

          {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}

          {% if site.email %}
          <li>
            <a href="mailto:{{ site.email }}">
              <span class="icon icon--github">
              <img src="{{site.baseurl}}/assets/static-images/email.png" height="16" width="16"/></span>
              <span class="username">{{ site.email }}</span>
            </a>
          </li>
          {% endif %}
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <p>{{ site.description | escape }}</p>
      </div>
    </div>

  </div>

</footer>
